    /* h3{
      margin-right:0px;
      padding-right:0px;
    }
    span{
      margin-left:0px;
      padding-left:0px;
    } */

    .sidenavwhite {
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 205px;
      left: 100px;
      background: #c3a469;
      color: #1f07f7;
      overflow-x: hidden;
      padding: 8px 0;
    }
    .blueColor{
      color: black;
    }

    .boxwelcome{
      margin-bottom: 60px;
    }
    .left{float:left;}
    .right{float:right;}

    .boxwell{
      margin-bottom: 30px;
    }

    .amazonColorLight{
    	background-color: #f0c14b !important

    }

    .amazonColorWheat{
    	background-color: wheat !important;
    	border-color: wheat !important;
    }

    .amazonColorDark{
    	background-color: #c3a469 !important;
    	border-color: #c3a469 !important
    }

    .amazonBorderColorDark{
    	border-color: #c3a469 !important
    }

    .bg-white{
    	background-color: white !important;
    }

    .amazonText{
    	color: white !important;
    	font-weight: 600 !important;
    }

    .amazonTextWhite{
    	color: white !important;
    	font-weight: 300 !important;
    }

    .btn-1{
    	background-color: #c3a469 !important;
    	border-color: wheat !important;
    	font-weight: 500 !important;
    	margin-bottom: 24px;
    }

    .main-page-row{
    	border-width: 2px !important;
    }
