.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fright{
  
  margin-left: 650px;
}

.box{
  margin-bottom: 60px;
}
.sidenav {
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 230px;
  left: 100px;
  background: rgb(35, 21, 233);
  color: #edf0f3;
  overflow-x: hidden;
  padding: 8px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.boxStyle{
  border: 1px solid black;
  background-color: ivory;
}


.App-link {
  color: #61dafb;
}

.cs-card-txt{
      background-color: #c3a469 !important;
      border-color: wheat !important;
    }
    
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
